.header{
	height:80px;
	background-color: #174871;
}
#tabs{
	position:absolute;
	left:0;
	right:0;
	bottom:30px;
	top:80px;
	overflow: hidden;
}
.roster{
	position:absolute;
	right:0;
	bottom:0px;
	top:31px;
	width:220px;
	background: url('../img/bg2.png');
    border-left: 1px solid blue;
    overflow-y: scroll;
}

.roster .user {
    font-size: 12px;
    margin: 0 4px 2px 4px;
    display: block;
    color: #666;
    clear: both;
    border-bottom: 2px solid #059BD5;
}
.roster .label {
    float: left;
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
}

.roster .profava {
    max-width: 80px;
    max-height: 80px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 5px;
}

.roster .profnick {
    font-weight: bold;
    cursor: pointer;
    margin-top: -5px;
    font-size: 13px;
    margin-bottom: 2px;
}


.room-messages{
    position:absolute;
    left:0;
    right:220px;
    bottom:0;
    top:32px;
    overflow-y: scroll;
    background: url('../img/handmadepaper.png');
    font-size: 16px;
    padding-left: 4px;
}
.input{
	position:absolute;
	left:0;
	right:220px;
	bottom:0;
	height:30px;
	border-top: 1px solid red;
}
.tools{
	position:absolute;
	right:0;
	bottom:0;
	height:30px;
	width:220px;
	border-top: 1px solid green;
}

.block-screen{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 1000;
	background: rgb(200, 238, 253) url('../img/start-background.jpg');
	background-size: 100%; /* ����������� �������� */
}
.screen-block{
	width:600px;
	height: 400px;
	padding: 20px;
	margin: 10% auto 0 auto;
	background-color: white;
	border: 1px solid gray;
	border-radius: 10px;
}


#tabs .tabs-content > div:first-child{
    display: block;
}


.message-field {
    border: none;
    width: 100%;
    height: 29px;
    padding: 0 5px;
    margin-right: 50px;
}

.room-messages > div{
    padding: 1px 2px;
}
.room-messages .m-date {
    font-size: 75%;
    font-style: italic;
    color: gray;
}
.room-messages .m-nick {
    font-weight: bold;
    width: 120px;
    display: inline-block;
}
.room-messages .m-text {

}
.green{
    color: green;
}
.red{
    color:red;
}

#tabs .tabs-inset{
    list-style: none;
    overflow:hidden;
    margin: 0;
    padding: 0;
}
#tabs .tabs-inset li{
    float:left;
    padding:5px 20px;
    /*background: rgb(233, 233, 233);*/
    margin-right: 3px;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    height: 32px;
    overflow: hidden;
    border-bottom: none;
}
#tabs .tabs-inset li:hover{
    background: gray;
    color: white;
}
#tabs .tabs-inset li.active-tab{
    background: gray;
    color: white;
}
#tabs .tabs-inset li span{
    width:8px;
    height:8px;
    background-color: red;
    display: inline-block;
    margin-left: 10px;

}
#tabs .tabs-inset li span:hover{
    background-color: black;
}
#tabs .tabs-content{

}
#tabs .tabs-content > div{
    display:none;
}

