body{
    overflow: hidden;
}
.wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.header{
    height: 112px;
    background: #97BCD1 url('../img/head-background.png') no-repeat center center;
    background-size: 100% 100%;
}
#tabs{
	position:absolute;
	left:0;
	right:0;
	bottom:30px;
	top:80px;
	overflow: hidden;
}
.roster{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 32px;
    width: 220px;
    background: url('../img/roster.png');
    overflow: hidden;
    border-bottom: 1px solid #C9C7C7;
}

.roster .user {
    font-size: 12px;
    margin: 0 4px 2px 4px;
    display: block;
    color: #666;
    clear: both;
    border-bottom: 2px solid #05D58A;
}
.roster .label {
    float: left;
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
}

.roster .profava {
    max-width: 80px;
    max-height: 80px;
    border-radius: 8px;
    margin: 5px;
    margin-left: 0;
    cursor: pointer;
}
.roster .profava:hover {
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.roster .profnick {
    font-weight: bold;
    cursor: pointer;
    margin-top: -5px;
    font-size: 14px;
    margin-bottom: 2px;
}
.roster .profnick:hover {
    color: rgb(228, 0, 100);
}
.room-info{
    position: absolute;
    right: 10px;
    top: 21px;
    z-index: 2;
    color: rgb(216, 19, 145);
    font-size: 11px;
}

.room-messages{
    position:absolute;
    left:0;
    right:220px;
    bottom:0;
    top:32px;
    overflow: hidden;
    background: transparent;
    font-size: 16px;
    padding-left: 4px;
    padding-bottom: 5px;
    box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.77);
}
.room-messages img{
    z-index: -1;
    position: relative;
    vertical-align: bottom;
}
.m-text a:hover img{
    position: static;
}
.input{
	position:absolute;
	left:0;
	right:220px;
	bottom:0;
	height:30px;
}
.tools{
	position:absolute;
	right:0;
	bottom:0;
	height:30px;
	width:220px;
    z-index: 6;
}


#tabs .tabs-content > div:first-child{
    display: block;
}


.message-field {
    border: none;
    width: 100%;
    height: 29px;
    padding: 0 5px;
    margin-right: 50px;
    margin-left: 5px;
    padding-left: 24px;
    background: url('../img/pencil.png') no-repeat center left;
}
input.message-field:focus{
    outline: none;
    background: url('../img/pencil-active.png') no-repeat center left;
}

.room-messages > div{
    padding: 1px 2px;
}
.room-messages .m-date {
    font-size: 75%;
    font-style: italic;
    color: rgb(92, 92, 92);
    padding: 0 2px;
    cursor: pointer;
}
.room-messages .m-nick {
    font-weight: bold;
    width: 120px;
    display: inline-block;
    cursor: pointer;
}
.room-messages .m-nick:hover {
    color: rgb(228, 0, 100);
}
.room-messages .m-text {

}
.tabs-content:after{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    right: 220px;
    bottom: 0;
    z-index: -2;
    background: url('../backgrounds/arrow.jpg') no-repeat bottom right;
    background-size: cover;
}
.green{
    color: #388043;
    font-size: 14px;
}
.red{
    color: #ff4573;
    font-size: 14px;
}
.blue{
    color:#00008b;
    font-size: 14px;
}
.new-topic{
    text-align: center;
    color: rgb(255, 102, 0);
    font-size: 18px;
}
.border-ava{
    border-radius: 8px;
}

#tabs .tabs-inset{
    list-style: none;
    overflow:hidden;
    margin: 0;
    padding: 0;
}
#tabs .tabs-inset li{
    float:left;
    padding:5px 15px;
    background: rgba(255, 255, 255, 0.5);
    margin-left: 3px;
    margin-top: 2px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    height: 30px;
    overflow: hidden;
    border-bottom: none;
    padding-right: 30px;
}
#tabs .tabs-inset p{
    display: inline;
    color: #FFFFFF;
    font-weight: bold;
    border: 1px solid #FF3838;
    background-color: #FF3838;
    padding: 0px 4px;
    margin-left: 4px;
    border-radius: 50%;
}
#tabs .tabs-inset li:hover{
    background: rgba(24, 117, 255, 0.57);
    color: white;
    padding-right: 26px;
}
#tabs .tabs-inset li.active-tab{
    background: rgba(24, 117, 255, 0.57);
    color: white;
}
#tabs .tabs-inset li img.tab-close{
    display: none;
    margin-left: 3px;
    margin-right: -17px;
}
#tabs .tabs-inset li:hover img.tab-close{
    display: inline-block;
}
#tabs .tabs-content{

}
#tabs .tabs-content > div{
    display:none;
}
#tabs .tabs-inset li.new-room{
    padding: 5px;
    border: none;
    background: transparent;
}
#tabs .tabs-inset li.new-room:hover{
    background: transparent;
}

.extra-links{
    position: absolute;
    left: 267px;
    top: 27px;
}
.link-vk{
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url('../img/vk.png');
}
.link-vk:hover{
    background-image: url('../img/vk_hover.png');
}
.logo{
    position: absolute;
    top: 25px;
    left: 5px;
}
img.inline-pic{
    max-width: 400px;
    max-height: 400px;
    margin: 3px 0;
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
img.smile{

}
.my-info{
    position: absolute;
    top: 3px;
    right: 3px;
}
.my-info .ava{
    border-radius: 50%;
    cursor: pointer;
}
.my-info .ava:hover{
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}


.my-info .my-nick{
    font-size: 30px;
    color: gray;
    font-style: italic;
    margin-right: 5px;
    cursor: pointer;
 }
.my-info .my-nick:hover{
    color: #D81391;
 }
.my-info .mess-count{
    position: absolute;
    font-size: 11px;
    margin-top: 66px;
}

.fancy-pic{
    display: inline-block;
}

.last-message{
    text-align: center;
    color: rgb(226, 24, 24);
    font-size: 12px;
}
.last-message span{
    border: 1px solid red;
    border-radius: 10px;
    padding: 0px 6px;
    background: rgb(215, 228, 235);
}
.last-message hr{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid red;
    border-top: none;
    width: 95%;
    margin-left: 2%;
    margin-top: -8px;
}

/* button */

button {
    border: none;
    padding: 0.6em 1.2em;
    background: rgba(24, 117, 255, 0.80);
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px 2px;
    border-radius: 2px;
}
button:hover {
    background: #186CD6;
}

/* TOOLS */

.tools > div.item {
    float: left;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 5px 10px 0 0;
    cursor: pointer;
}
.tools > div:hover {

}
.sound-on{
    background: url('../img/tools/sound_on.png') no-repeat;
}
.sound-off{
    background: url('../img/tools/sound_off.png') no-repeat;
}
.notif-on{
    background: url('../img/tools/notif_on.png') no-repeat;
}
.notif-off{
    background: url('../img/tools/notif_off.png') no-repeat;
}
.smile-btn{
    background: url('../img/tools/smile.png') no-repeat;
}
.colors-btn{
    background: url('../img/tools/colors.png') no-repeat;
}
.statustext-btn{
    background: url('../img/tools/status.png') no-repeat;
}

.states-menu{
    visibility: hidden;
    padding: 5px;
    position: absolute;
    background: #ffffff;
    font-size: 12px;
    opacity: 0;
    z-index: 4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transform: all 0.3s ease-in-out;
    transform: all 0.3s ease-in-out;
    bottom: 35px;
    margin-left: -20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.7);
}

.states-menu > div{
    padding: 1px 3px 1px 22px;
    margin-bottom: 1px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}
.states-menu > div:hover{
    background-color: #96C4FF;
}

.show-item.states-menu{
    opacity: 1;
}

.statustext-menu{
    visibility: hidden;
    padding: 8px;
    position: absolute;
    background: #ffffff;
    font-size: 12px;
    opacity: 0;
    z-index: 4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transform: all 0.3s ease-in-out;
    transform: all 0.3s ease-in-out;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.7);
    bottom: 35px;
    right: 5px;
}

.statustext-menu textarea{
    width: 280px;
    height: 50px;
    margin-bottom: 8px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.show-item.statustext-menu{
    opacity: 1;
}

.smiles-menu{
    visibility: hidden;
    padding: 5px;
    position: absolute;
    background: #ffffff;
    font-size: 12px;
    opacity: 0;
    z-index: 4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transform: all 0.3s ease-in-out;
    transform: all 0.3s ease-in-out;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.7);
    bottom: 35px;
    right: 5px;

    height: 450px;
    width: 300px;

}
.show-item.smiles-menu{
    opacity: 1;
}

.smiles-menu .all-smiles{
    height: 351px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(165, 165, 165);
}
.smiles-menu .fav-smiles{

}
.smiles-menu .tab-smiles{
    float: left;
    width: 25px;
    height: 350px;
}
.smiles-menu .tab-smiles > div{
    background-color: #47C3FD;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    color: white;
}
.smiles-menu .tab-smiles > div:hover{
    background-color: #526DFA;
}
.smiles-menu div.tab-smiles-active{
    background-color: #526DFA;
}
.smiles-menu .wrap-smiles{
    padding-left: 5px;
    height: 350px;
    overflow-y: scroll;
}
.block-smile{
    display: none;
}
.smiles-menu .block-smile img{
    width: 42px;
    height: 42px;
    margin: 3px;
    cursor: pointer;
}
img:hover{
    -webkit-filter: invert(100%);

}



.show-item{
    visibility: visible;
}

/* BUTTONS */

.ok-btn{
    float: right;
    border: none;
    background-color: #5398ea;
    color: white;
    border-radius: 5px;
    padding: 2px 10px;
}
.ok-btn:hover{
    background-color: #4f83d1;
}

.cancel-btn{
    float: left;
    border: none;
    background-color: #ff6258;
    color: white;
    border-radius: 5px;
    padding: 2px 10px;
}
.cancel-btn:hover{
    background-color: #d75950;
}