body{
    overflow: hidden;
}
.wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.header{
    height: 112px;
    background: #97BCD1 url('../img/head-background.png') no-repeat center center;
    background-size: 100% 100%;
}
#tabs{
	position:absolute;
	left:0;
	right:0;
	bottom:30px;
	top:80px;
	overflow: hidden;
}
.roster{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 32px;
    width: 220px;
    background: url('../img/roster.png');
    overflow: hidden;
    border-bottom: 1px solid #C9C7C7;
}

.roster .user {
    font-size: 12px;
    margin: 0 4px 2px 4px;
    display: block;
    color: #666;
    clear: both;
    border-bottom: 2px solid #05D58A;
}
.roster .label {
    float: left;
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
}

.roster .profava {
    max-width: 80px;
    max-height: 80px;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}
.roster .profava:hover {
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.roster .profnick {
    font-weight: bold;
    cursor: pointer;
    margin-top: -5px;
    font-size: 14px;
    margin-bottom: 2px;
}
.roster .profnick:hover {
    color: rgb(228, 0, 100);
}
.room-info{
    position: absolute;
    right: 10px;
    top: 21px;
    z-index: 2;
    color: rgb(216, 19, 145);
    font-size: 11px;
}

.room-messages{
    position:absolute;
    left:0;
    right:220px;
    bottom:0;
    top:32px;
    overflow: hidden;
    background: transparent;
    font-size: 16px;
    padding-left: 4px;
    padding-bottom: 5px;
    box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.77);
}
.room-messages img{
    z-index: -1;
    position: relative;
    vertical-align: bottom;
}
.input{
	position:absolute;
	left:0;
	right:220px;
	bottom:0;
	height:30px;
}
.tools{
	position:absolute;
	right:0;
	bottom:0;
	height:30px;
	width:220px;
}

.block-screen{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 1000;
	background: rgb(200, 238, 253) url('../img/start-background.jpg');
	background-size: 100%;
}
.screen-block{
	width:600px;
	height: 400px;
	padding: 20px;
	margin: 10% auto 0 auto;
	background-color: white;
	border: 1px solid gray;
	border-radius: 10px;
}


#tabs .tabs-content > div:first-child{
    display: block;
}


.message-field {
    border: none;
    width: 100%;
    height: 29px;
    padding: 0 5px;
    margin-right: 50px;
    margin-left: 5px;
    padding-left: 24px;
    background: url('../img/pencil.png') no-repeat center left;
}
input.message-field:focus{
    outline: none;
    background: url('../img/pencil-active.png') no-repeat center left;
}

.room-messages > div{
    padding: 1px 2px;
}
.room-messages .m-date {
    font-size: 75%;
    font-style: italic;
    color: rgb(92, 92, 92);
    padding: 0 2px;
    cursor: pointer;
}
.room-messages .m-nick {
    font-weight: bold;
    width: 120px;
    display: inline-block;
    cursor: pointer;
}
.room-messages .m-nick:hover {
    color: rgb(228, 0, 100);
}
.room-messages .m-text {

}
.tabs-content:after{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    right: 220px;
    bottom: 0;
    z-index: -2;
    background: url('../backgrounds/arrow.jpg') no-repeat bottom right;
    background-size: cover;
}


.green{
    color: #388043;
}
.red{
    color: #ff4573;
}
.blue{
    color:#00008b;
}
.new-topic{
    text-align: center;
    color: rgb(255, 102, 0);
    font-size: 18px;
}
.border-ava{
    border-radius: 8px;
}
.tools > div {
    float: left;
    padding: 2px;
    margin: 2px;
    border: 1px solid #8b0000;
}

#tabs .tabs-inset{
    list-style: none;
    overflow:hidden;
    margin: 0;
    padding: 0;
}
#tabs .tabs-inset li{
    float:left;
    padding:5px 15px;
    background: rgba(255, 255, 255, 0.5);
    margin-left: 3px;
    margin-top: 2px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    height: 30px;
    overflow: hidden;
    border-bottom: none;
    padding-right: 30px;
}
#tabs .tabs-inset p{
    display: inline;
    color: #FFFFFF;
    font-weight: bold;
    border: 1px solid #FF3838;
    background-color: #FF3838;
    padding: 0px 4px;
    margin-left: 4px;
    border-radius: 50%;
}
#tabs .tabs-inset li:hover{
    background: rgba(24, 117, 255, 0.57);
    color: white;
    padding-right: 26px;
}
#tabs .tabs-inset li.active-tab{
    background: rgba(24, 117, 255, 0.57);
    color: white;
}
#tabs .tabs-inset li img.tab-close{
    display: none;
    margin-left: 3px;
    margin-right: -17px;
}
#tabs .tabs-inset li:hover img.tab-close{
    display: inline-block;
}
#tabs .tabs-content{

}
#tabs .tabs-content > div{
    display:none;
}
#tabs .tabs-inset li.new-room{
    padding: 5px;
    border: none;
    background: transparent;
}
#tabs .tabs-inset li.new-room:hover{
    background: transparent;
}

.extra-links{
    position: absolute;
    left: 267px;
    top: 27px;
}
.link-vk{
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url('../img/vk.png');
}
.link-vk:hover{
    background-image: url('../img/vk_hover.png');
}
.logo{
    position: absolute;
    top: 25px;
    left: 5px;
}
img.inline-pic{
    max-width: 400px;
    max-height: 400px;
    margin: 3px 0;
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
img.smile{

}
.my-info{
    position: absolute;
    top: 3px;
    right: 3px;
}
.my-info .ava{
    border-radius: 50%;
    cursor: pointer;
}
.my-info .ava:hover{
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}


.my-info .my-nick{
    font-size: 30px;
    color: gray;
    font-style: italic;
    margin-right: 5px;
    cursor: pointer;
 }
.my-info .my-nick:hover{
    color: #D81391;
 }
.my-info .mess-count{
    position: absolute;
    font-size: 11px;
    margin-top: 66px;
}

/* button */

button {
    border: none;
    padding: 0.6em 1.2em;
    background: rgba(24, 117, 255, 0.80);
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px 2px;
    border-radius: 2px;
}
button:hover {
    background: #186CD6;
}
