.header{
	height:80px;
	background-color: #174871;
}
#tabs{
	position:absolute;
	left:0;
	right:0;
	bottom:30px;
	top:80px;
	overflow: hidden;
}
.roster{
	position:absolute;
	right:0;
	bottom:0px;
	top:31px;
	width:220px;
	background: url('img/bg2.png');
    border-left: 1px solid blue;
	overflow: hidden;
}
.room-messages{
    position:absolute;
    left:0;
    right:220px;
    bottom:0;
    top:32px;
    overflow-y: scroll;
    background: url('img/handmadepaper.png');
}
.input{
	position:absolute;
	left:0;
	right:220px;
	bottom:0;
	height:30px;
	border-top: 1px solid red;
}
.tools{
	position:absolute;
	right:0;
	bottom:0;
	height:30px;
	width:220px;
	border-top: 1px solid green;
}

.block-screen{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 1000;
	background: rgb(200, 238, 253) url('img/start-background.jpg');
	background-size: 100%; /* ����������� �������� */
}
.screen-block{
	width:600px;
	height: 400px;
	padding: 20px;
	margin: 10% auto 0 auto;
	background-color: white;
	border: 1px solid gray;
	border-radius: 10px;
}


#tabs .tabs-content > div:first-child{
    display: block;
}


.message-field {
    border: none;
    width: 100%;
    height: 29px;
    padding: 0 5px;
    margin-right: 50px;
}


.ps-container .ps-scrollbar-x-rail{position:absolute;bottom:3px;height:8px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;opacity:0;filter:alpha(opacity=0);-o-transition:background-color .2s linear,opacity .2s linear;-webkit-transition:background-color.2s linear,opacity .2s linear;-moz-transition:background-color .2s linear,opacity .2s linear;transition:background-color .2s linear,opacity .2s linear}
.ps-container:hover .ps-scrollbar-x-rail,.ps-container.hover .ps-scrollbar-x-rail{opacity:.6;filter:alpha(opacity=60)}
.ps-container .ps-scrollbar-x-rail:hover,.ps-container .ps-scrollbar-x-rail.hover{background-color:#eee;opacity:.9;filter:alpha(opacity=90)}
.ps-container .ps-scrollbar-x-rail.in-scrolling{opacity:.9;filter:alpha(opacity=90)}
.ps-container .ps-scrollbar-y-rail{position:absolute;right:3px;width:8px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;opacity:0;filter:alpha(opacity=0);-o-transition:background-color .2s linear,opacity .2s linear;-webkit-transition:background-color.2s linear,opacity .2s linear;-moz-transition:background-color .2s linear,opacity .2s linear;transition:background-color .2s linear,opacity .2s linear}
.ps-container:hover .ps-scrollbar-y-rail,.ps-container.hover .ps-scrollbar-y-rail{opacity:.6;filter:alpha(opacity=60)}
.ps-container .ps-scrollbar-y-rail:hover,.ps-container .ps-scrollbar-y-rail.hover{background-color:#eee;opacity:.9;filter:alpha(opacity=90)}
.ps-container .ps-scrollbar-y-rail.in-scrolling{opacity:.9;filter:alpha(opacity=90)}
.ps-container .ps-scrollbar-x{position:absolute;bottom:0;height:8px;background-color:#aaa;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-o-transition:background-color .2s linear;-webkit-transition:background-color.2s linear;-moz-transition:background-color .2s linear;transition:background-color .2s linear}.ps-container.ie6 .ps-scrollbar-x{font-size:0}
.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x{background-color:#999}
.ps-container .ps-scrollbar-y{position:absolute;right:0;width:8px;background-color:#aaa;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-o-transition:background-color .2s linear;-webkit-transition:background-color.2s linear;-moz-transition:background-color .2s linear;transition:background-color .2s linear}
.ps-container.ie .ps-scrollbar-y{font-size:0}.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y{background-color:#999}